@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background_black: #101010;
  --background_light: #E3E3E3;
  --gold: #BF9359
}

html {
  scroll-behavior: smooth;
}

body {
  color: #373535;
  background: var(--background_light);
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}